{% extends 'navigation_bar.html' %}

{% block title %}
    <title>管理员账户</title>
{% endblock %}

{% block sr-only %}
    <li class="active"><a href="/admin/list">管理员账户<span class="sr-only">(current)</span></a></li>
    <li><a href="/department/list">部门管理</a></li>
    <li><a href="/personnel/list">员工管理</a></li>
    <li><a href="/pretty/list">靓号管理</a></li>
    <li><a href="/task/ajax">任务管理</a></li>
    <li><a href="/order/list">订单管理</a></li>
    <li><a href="/echarts/list">数据统计</a></li>
{% endblock %}

{% block container %}
    <div class="container">
        <div style="margin-bottom: 20px">
            <a class="btn btn-success" href="/admin/add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新增管理员
            </a>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                管理员列表
            </div>

            {% if admin_data.0 == null %}
                <!-- 当Department表没有数据时 -->
                <div class="panel-body">
                    无数据!
                </div>
            {% else %}
                <!-- 当Department表有数据时 -->
                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 100px">序号</th>
                        <th style="width: 150px">管理员名称</th>
                        <th style="width: 150px">登录账号</th>
                        <th style="width: 150px">登录密码</th>
                        <th style="width: 150px">创建时间</th>
                        <th style="width: 150px">修改时间</th>
                        <th style="width: 100px">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for admin_info in admin_data %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td>{{ admin_info.admin_name }}</td>
                            <td>{{ admin_info.account }}</td>
                            <td>******</td>
                            <td>{{ admin_info.create_time }}</td>
                            <td>{{ admin_info.update_time }}</td>
                            <td style="width: 150px">
                                <a class="btn btn-primary btn-xs" href="/admin/edit/{{ admin_info.id }}">编辑</a>
                                <a class="btn btn-danger btn-xs"  href="/admin/delete/{{ admin_info.id }}">删除</a>
                                <a class="btn btn-warning btn-xs"  href="/admin/reset/{{ admin_info.id }}">重置密码</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <nav aria-label="...">
        <ul class="pagination">
            {{ page_li_list_string }}
        </ul>
    </nav>
    </div>
{% endblock %}