{% extends 'navigation_bar.html' %}

{% block title %}
    <title>修改部门</title>
{% endblock %}

{% block sr-only %}
    <li><a href="/admin/list">管理员账户</a></li>
    <li class="active"><a href="/department/list">部门管理<span class="sr-only">(current)</span></a></li>
    <li><a href="/personnel/list">员工管理</a></li>
    <li><a href="/pretty/list">靓号管理</a></li>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">修改部门</h3>
            </div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputName2">部门名称</label>
                        <input name="department_name" type="text" class="form-control" id="exampleInputName2" value="{{ department_data.department_name }}" style="width: 500px">
                        <b style="color: red">{{ message }}</b>
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}