{% extends 'navigation_bar.html' %}

{% block title %}
    <title>数据统计</title>
{% endblock %}

{% block sr-only %}
    <li><a href="/admin/list">管理员账户</a></li>
    <li><a href="/department/list">部门管理</a></li>
    <li><a href="/personnel/list">员工管理</a></li>
    <li><a href="/pretty/list">靓号管理</a></li>
    <li><a href="/task/ajax">任务管理</a></li>
    <li><a href="/order/list">订单管理</a></li>
    <li class="active"><a href="/echarts/list">数据统计<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">折线图</h3>
            </div>
            <div class="panel-body">
                <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                <div id="Line_Graph" style="width: 100%;height:400px;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">柱状图</h3>
                    </div>
                    <div class="panel-body">
                        <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                        <div id="Bar_Graph" style="width: 100%;height:400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">饼图</h3>
                    </div>
                    <div class="panel-body">
                        <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                        <div id="Pie_Graph" style="width: 100%;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        // 页面框架执行完成后，该函数自动执行。
        $(function () {
            InitBar();
            InitLine();
            InitPie();
        })

        // 初始化柱状图
        function InitBar() {
            // 基于准备好的dom，初始化echarts实例
            let myChart = echarts.init(document.getElementById('Bar_Graph'));

            // 指定图表的配置项和数据
            let option = {
                title: {
                    text: '',
                    left: "center"
                },
                tooltip: {},
                legend: {
                    data: [],
                    bottom: 0
                },
                xAxis: {
                    data: []
                },
                yAxis: {},
                series: []
            };

            $.ajax({
                url: '/echarts/bar_data',
                type: 'get',
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        option.title.text = res.bar_data.title_text;
                        option.legend.data = res.bar_data.legend_data;
                        option.xAxis.data = res.bar_data.xAxis_data;
                        option.series = res.bar_data.series

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    }
                }
            })
        }

        // 初始化折线图
        function InitLine() {
            // 基于准备好的dom，初始化echarts实例
            let myChart = echarts.init(document.getElementById('Line_Graph'));

            let option = {
                title: {
                    text: '',
                    left: "center"
                },
                legend: {
                    data: [],
                    bottom: 0
                },
                xAxis: {
                    type: 'category',
                    data: []
                },
                yAxis: {
                    type: 'value'
                },
                series: []
            };

            $.ajax({
                url: '/echarts/line_data',
                type: 'get',
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        option.title.text = res.line_data.title_text;
                        option.legend.data = res.line_data.legend_data;
                        option.xAxis.data = res.line_data.xAxis_data;
                        option.series = res.line_data.series;

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    }
                }
            })
        }

        // 初始化饼状图
        function InitPie() {
            // 基于准备好的dom，初始化echarts实例
            let myChart = echarts.init(document.getElementById('Pie_Graph'));

            let option = {
                tooltip: {
                    trigger: 'item'
                },
                title: {
                    text: 'ECharts Pie',
                    left: "center"
                },
                legend: {
                    left: 'center',
                    bottom: 0
                },
                series: [
                    {
                        name: '安智杰',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                            borderRadius: 10,
                            borderColor: '#fff',
                            borderWidth: 2
                        },
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: 40,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: []
                    }
                ]
            };

            $.ajax({
                url: '/echarts/pie_data',
                type: 'get',
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        option.series[0].data = res.series_data;

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    }
                }
            })
        }
    </script>
{% endblock %}