{% extends 'navigation_bar.html' %}

{% block title %}
    <title>错误页面</title>
{% endblock %}

{% block sr-only %}
    <li><a href="/admin/list">管理员账户</a></li>
    <li><a href="/department/list">部门管理</a></li>
    <li><a href="/personnel/list">员工管理</a></li>
    <li><a href="/pretty/list">靓号管理</a></li>
    <li><a href="/task/ajax">任务管理</a></li>
    <li><a href="/order/list">订单管理</a></li>
    <li><a href="/uploads/list">From 文件上传</a></li>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    </div>
{% endblock %}